In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn import datasets, linear_model, metrics
df = pd.read_csv("./datasets/imdb_clean.csv")

In [2]:
df.head()

,Unnamed: 0,title,director,release_year,runtime,genre,rating,metascore,gross(M)
0,0,The Shawshank Redemption,Frank Darabont,1994,142,Drama,9.3,82,28.34
1,1,The Godfather,Francis Ford Coppola,1972,175,Crime,9.2,100,134.97
2,1,The Godfather,Francis Ford Coppola,1972,175,Drama,9.2,100,134.97
3,2,The Dark Knight,Christopher Nolan,2008,152,Action,9.0,84,534.86
4,2,The Dark Knight,Christopher Nolan,2008,152,Crime,9.0,84,534.86

In [3]:
df.shape

(2532, 9)

In [4]:
df.describe()

,Unnamed: 0,release_year,runtime,rating,metascore,gross(M)
count,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000,2532.000000
mean,501.339258,1992.215640,124.213665,7.966035,66.487362,61.656303
std,289.372567,24.244151,28.910941,0.274246,30.519333,113.390273
min,0.000000,1920.000000,45.000000,7.600000,0.000000,0.000000
25%,248.000000,1976.000000,103.000000,7.800000,64.000000,0.280000
50%,503.000000,2000.000000,120.000000,7.900000,76.000000,10.730000
75%,749.000000,2011.000000,139.000000,8.100000,86.000000,68.105000
max,999.000000,2023.000000,321.000000,9.300000,100.000000,936.660000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2532 entries, 0 to 2531
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2532 non-null   int64
 1   title         2532 non-null   object
 2   director      2532 non-null   object
 3   release_year  2532 non-null   int64
 4   runtime       2532 non-null   int64
 5   genre         2532 non-null   object
 6   rating        2532 non-null   float64
 7   metascore     2532 non-null   int64
 8   gross(M)      2532 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 178.2+ KB

In [6]:
df.isna().sum()

Unnamed: 0      0
title           0
director        0
release_year    0
runtime         0
genre           0
rating          0
metascore       0
gross(M)        0
dtype: int64

In [7]:
#df = df.convert_dtypes()
#df.info()

In [ ]:
df['release_year'].apply(lambda x: pd.to_datetime(str(x), format='%Y'))
df.head()

,Unnamed: 0,title,director,release_year,runtime,genre,rating,metascore,gross(M)
0,0,The Shawshank Redemption,Frank Darabont,1994,142,Drama,9.3,82,28.34
1,1,The Godfather,Francis Ford Coppola,1972,175,Crime,9.2,100,134.97
2,1,The Godfather,Francis Ford Coppola,1972,175,Drama,9.2,100,134.97
3,2,The Dark Knight,Christopher Nolan,2008,152,Action,9.0,84,534.86
4,2,The Dark Knight,Christopher Nolan,2008,152,Crime,9.0,84,534.86

In [ ]:
df["ID"] = df["Unnamed: 0"]

In [ ]:
df.head()

In [ ]:
df = df[['ID','title','director','release_year','runtime','genre','rating','metascore','gross(M)']]
df.head()

In [ ]:
correlation = df[['rating','metascore']].corr()
print(correlation)

In [ ]:
income = df[['rating','gross(M)']].corr()
print(income)

In [ ]:
year_corr = df[['release_year','gross(M)']].corr()
print(year_corr)

In [ ]:
X = df[['release_year','rating','metascore']]
y = df['gross(M)']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
reg = linear_model.LinearRegression() 
reg.fit(X_train, y_train)
# regression coefficients 
print('Coefficients: ', reg.coef_) 
# variance score: 1 means perfect prediction 
print('Variance score: {}'.format(reg.score(X_test,y_test)))